.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #2d3e50;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-left: 20px;
  text-align:left;
}

.App ul, .App h2 {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-a-1 {
  background: #F3E0EC;
}

.foreground-a-1 {
  color: #CA9CE1;
}

.background-a-2 {
  background: #F2BEFC;
}

.foreground-a-2 {
  color: #685F74;
}

.background-a-3 {
  background: #EAD5E6;
}

.foreground-a-3 {
  color: #685F74;
}

.background-a-4 {
  background: #CA9CE1;
}

.foreground-a-4 {
  color: #F3E0EC;
}

.logo {
  font-size: 4em;
}
