.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #2d3e50;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-weight: 400;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-left: 20px;
  text-align:left;
}

.App ul, .App h2 {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.background-1-a {
  background: #F3E0EC;
}

.foreground-1-a {
  color: #CA9CE1;
}

.background-1-b {
  background: #F2BEFC;
}

.foreground-1-b {
  color: #685F74;
}

.background-1-c {
  background: #EAD5E6;
}

.foreground-1-c {
  color: #685F74;
}

.background-1-d {
  background: #CA9CE1;
}

.foreground-1-d {
  color: #F3E0EC;
}

.background-2-a {
  background: #FF1654;
}

.foreground-2-a {
  color: #247BA0;
}

.background-2-b {
  background: #F3FFBD;
}

.foreground-2-b {
  color: #B2DBBF;
}

.background-2-c {
  background: #B2DBBF;
}

.foreground-2-c {
  color: #FF1654;
}

.background-2-d {
  background: #247BA0;
}








.background-27-a {
  background: #246A73;
}

.foreground-27-a {
  color: #368F8B;
}

.background-27-b {
  background: #F3DFC1;
}

.foreground-27-b {
  color: #DDBEA8;
}

.background-27-c {
  background: #817F75;
}

.foreground-27-c {
  color: #B3B5BB;
}

.background-27-d {
  background: #C5D9E2;
}
.foreground-27-d {
  color: #CDFFF9;
}

.background-28-a {
  background: #305252;
}

.foreground-28-a {
  color: #373E40;
}

.background-28-b {
  background: #488286;
}

.foreground-28-b {
  color: #B7D5D4;
}

.background-28-c {
  background: #E8FCC2;
}

.foreground-28-c {
  color: #B1CC74;
}

.background-28-d {
  background: #E7F0FF;
}
.foreground-28-d {
  color: #DC493A;
}

.background-29-a {
  background: #556F7A;
}

.foreground-29-a {
  color: #FFFFFF;
}

.background-29-b {
  background: #FFFFFF;
}

.foreground-29-b {
  color: #EF8354;
}

.background-29-c {
  background: #4F5D75 ;
}

.foreground-29-c {
  color: #BFC0C0;
}

.background-29-d {
  background: #A9B2AC;
}
.foreground-29-d {
  color: #898980;
}



.background-30-a {
  background: #FD5200;
}

.foreground-30-a {
  color: #DB3A34;
}

.background-30-b {
  background: #00FFE7;
}

.foreground-30-b {
  color: #00CFC1;
}

.background-30-c {
  background: #FFC857;
}

.foreground-30-c {
  color: #323031;
}

.background-30-d {
  background: #DE0D92;
}
.foreground-30-d {
  color: #4D6CFA;
}



.background-31-a {
  background: #0FFF95;
}

.foreground-31-a {
  color: #06BA63;
}

.background-31-b {
  background: #C86FC9;
}

.foreground-31-b {
  color: #8E518D;
}

.background-31-c {
  background: #087F8C;
}

.foreground-31-c {
  color: #5AAA95;
}

.background-31-d {
  background: #CBC0AD;
}
.foreground-31-d {
  color: #361D2E;
}

.background-32-a {
  background: #E83F6F;
}

.foreground-32-a {
  color: #2274A5;
}

.background-32-b {
  background: #32936F;
}

.foreground-32-b {
  color: #FFFFFF;
}

.background-32-c {
  background: #fe5f55;
}

.foreground-32-c {
  color: #d6d1b1;
}

.background-32-d {
  background: #77625C;
}

.foreground-32-d {
  color: #49392C;
}

.logo {
  font-size: 4em;
}

.l-box {
  padding: 10em;
}

